<ion-menu [content]="content" id="menu-filter-laudos">
    <ion-header>
        <ion-navbar color="primary">
            <ion-title>Filtros</ion-title>
        </ion-navbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-list-header>Escolha os filtros:</ion-list-header>            
            <ion-item>
                <ion-label stacked >Clientes</ion-label>                
                <ion-select [(ngModel)]="selClientes" multiple="true" [selectOptions]="clientesAlertOpts">
                    <ion-option *ngFor="let o of clientes" [value]="o.id">{{o.nome_fantasia}}</ion-option>
                </ion-select>
            </ion-item>            
            <ion-item>
                <ion-label stacked>Data Inicial</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="iniDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label stacked>Data Final</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="FinDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label stacked >Status</ion-label>                
                <ion-select [(ngModel)]="selStatus" multiple="true" [selectOptions]="statusAlertOpts">
                    <ion-option *ngFor="let o of status" [value]="o.id">{{o.descricao}}</ion-option>
                </ion-select>
            </ion-item>  
            <ion-item>
                <ion-label stacked>Termo de Busca</ion-label>
                <ion-input placeholder="informe um texto"></ion-input>
            </ion-item>
        </ion-list>


    </ion-content>
</ion-menu>

<ion-menu [content]="content" id="menu-filter-graficos" >
        <ion-header>
            <ion-navbar color="primary">
                <ion-title>Filtros</ion-title>
            </ion-navbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item menuClose detail-none>Close Menu Gráfico</ion-item>
            </ion-list>            
        </ion-content>
    </ion-menu>

<ion-nav type="overlay" #content [root]="rootPage"></ion-nav>
